<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ignox.boredevs.sparks.ignox_thesis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/layers"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splashscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signup" android:screenOrientation="portrait"/>
        <activity android:name=".Signin" android:screenOrientation="portrait"/>
         <activity
         android:name=".Dashboard"
         android:label="@string/title_activity_dashboard"
         android:theme="@style/AppTheme.NoActionBar"
             android:screenOrientation="portrait"/>
        <activity android:name=".ResearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".TopicsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".HeadlinesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TopicsTabbed"
            android:label="@string/title_activity_topics_tabbed"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>